API_ID=
API_HASH=
BOT_TOKEN=
OWNER_ID=
BOT_USERNAME=
MONGO_URI=mongodb://localhost:27017
DB_NAME=votingbot
AI_API_URL=https://api.openai.com/v1/chat/completions
AI_MODEL=gpt-4o-mini
AI_API_KEY_1=
AI_API_KEY_2=
